$def with (weight, waist)
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">


// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['annotatedtimeline']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

function drawChart() {
    var weight  = google.visualization.arrayToDataTable([['Date', 'weight'],
                                                         $:weight])
    var waist   = google.visualization.arrayToDataTable([['Date', 'waist'],
                                                         $:waist]);
    var e                      = document.getElementById('chart_weight')
    var chart                  = new google.visualization.AnnotatedTimeLine(e);
    var options                = {}
    options['title']           = 'weight';
    options['pointSize']       = 5;
    options['scaleType']       = 'allmaximized';
    options['fontSize']        = 12;
    chart.draw(weight, options);

    e                          = document.getElementById('chart_waist')
    chart                      = new google.visualization.AnnotatedTimeLine(e);
    options['title']           = 'waist';
    chart.draw(waist, options);
}

//create trigger to resizeEnd event
$$(window).resize(function() {
       alert($$(window).width());
       document.getElementById("chart_weight").style.width  = $$(window).width() - 100 + 'px';
       drawChart();
});

// REPLACE with https://github.com/nicolaskruchten/pivottable?
</script>

