$def with (username)
<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Weightlog</a>
  </div> <!-- navbar-header -->


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Weight<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/view/$username">View</a></li>
          <li><a href="/viewall/$username"">View All</a></li>
          <li class="divider"></li>
          <li><a href="/csv/export/$username">Export CSV</a></li>
          <li><a href="/csv/import/$username">Import CSV</a></li>
        </ul>
      </li>
    </ul>


  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
$if session.username:
      <li><a href="/logout">Sign out
        <strong>$username</strong>
      </a>
      </li>
$else:
      <li><a href="/login">Sign in </a></li>
<!-- end if -->
    </ul>
      </div>
  </div><!--/.nav-collapse -->
</div> <!-- navbar -->
